langchain
langgraph
langgraph-checkpoint-mongodb
pymongo 
langchain-community
langchain-huggingface
langchain-groq
langchain-tavily
python-dotenv
pydantic
einops
langchain-nvidia-ai-endpoints
unstructured[all-docs]
langchain-unstructured
fastapi
uvicorn[standard]
rank_bm25
qdrant-client
fastembed
langchain-qdrant
PyPDF2
langchain-deepinfra 